/*
 Vantaan värit: (vihreät)
D4EB91 	//Frontpageinfo?
6BC24A	//Not clicked, not hover, header
4A7829	//Hover/clicked

d9d9d6	//Footer gray

*/

@font-face {
    font-family: GTWalsheim;
    src: url(fonts/GT-Walsheim-Regular.woff);
}
@font-face {
    font-family: GTWalsheimBold;
    src: url(fonts/GT-Walsheim-Bold.woff);
}
div.noPadLeft{
	padding-left: 0px;
}
img.logo {
    width: 211px;
    height: 51px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
}
div.DashboardBlock{
	text-align: center;
	display: inline-block;
	width: 100%;
}
div.infoFrontpage{
	margin-top: -20px;
	padding-top: 70px;
	padding-bottom: 70px;
	background-image: url("images/myyrmäki_MG_1791.png");
	background-size:cover;
}
div.infoDashboard{
	margin-top: -55px;
}

div.frontInfo{
    float: right;
	background-color: rgba(245, 245, 245, 0.9);
}
.default-box{
	background-color: rgba(245, 245, 245, 0.9);
	border: solid 1px #FFFFFF;
}
#page-login .default-box{
	background-color: rgba(245, 245, 245, 0.9);
	border: solid 1px #FFFFFF;
}

* {/*Removing round corners from everything*/
  border-radius: 0 !important;
}
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
hr.ResourceConfFrontBottom{
	border-top: 4px solid #d9d9d6;
}
h1.frontInfo{
	color: black;
}
.navbar{
	margin-bottom: 0px;
}
nav.navbar-default, .navbar-fixed-top{
	background-color: #6BC24A;
	border: 0px solid transparent;
}
#main{
	min-height: 80%;
}
body{
	background-color: #ffffff;
}
body.dashboardpage{
}
div.schedule-legend{
    margin-top: 10px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #4A7829;
}
#page-login .register {
    text-align: unset;
}
div.registerModalBox{
	width: auto;
	max-width: 700px;
}
div.registerModalBoxBody{
	width: 100%;
	max-height: 500px;
	overflow-y: auto;
}
*.languagebox{
	padding-left: 0px;
}
span.registerModalBoxBodyOwn{
	width: 100%;
}
span.registerModalBoxBodyLeft{
	width: 20px;
	vertical-align: top;
	float:left;
}
div.registerModalBoxBodyRight{
	vertical-align: top;
	max-width: 630px;
	padding-left: 30px;
	height: auto;
	display: inline-block;
}
.btn-default.active{
    background-color: #4A7829;
    border-color: #4A7829;
}
.btn-link {
    color: #428181;
}
body.infoFrontpage{
	/*padding-top: 40px;*/
}
.btn{
	max-width: 200px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #4A7829;
    border-color: #4A7829;
}

div.legend{
	border: solid #555 1px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
}
div.schedule-dates{
	width: 100%;
}
table.reservations td{
	border: solid #d9d9d6 1px;
	color: #000000;
	background-color: transparent;
}
td.unreservable.slot{    
	background-color: #d9d9d6;
}
td.reserved.clickres.slot{   
    overflow: hidden;
    white-space: nowrap; 
	background-color: #db3db0;
}

.unreservable{
	background-color: #d9d9d6;
	color: #000000;
}
.reserved{
    background-color: #db3db0;
	color: #000000;
}
.reserved.mine {
    background-color: #d4eb91;
}

td.reserved.OtherPresenter{
	background-color: #f2a6db !important;
}
div.legend.OtherPresenter{
	line-height: 19px;
	background-color: #f2a6db !important;
}
td.mine{    
	background-color: #d4eb91 !important; 
	/*important because the rules above overwrite this*/
}
#reservations-left{
		display: none;
}
div.row-fluid{
	text-align: center;
}
i.checkboxglyphicon{
	color: #e91e1e;
}
#reservations{
	float: none;
	display: inline-block;
}
.footer {
	text-align: center;
	border-top: solid 1px #d9d9d6;
	padding-top: 2px;
	color: #fff;
	border-radius: 0;
}
.footer a {
    color: #76777B;
}
td.reslabel{
	text-align: center;
}
.btn-primary{    
	background-color: #6BC24A;
	border-color: #6BC24A;
}
a.btn-default{  
	color: #FFFFFF;
}
.btn-default{    
	color: black;
	background-color: #FFFFFF;
	border-color: #6BC24A;
}
.btn-success{
	background-color: #6BC24A;
	border-color: #6BC24A;
}
*.linkbutton{
	min-width: 100px;
}
a.linkbutton, a:visited .linkbutton{
    color: #FFFFFF;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: white;
	background-color: #4A7829;
	border-color: #4A7829;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: #4A7829;
}
div.priceItemContainer{
	width: 100%;
    min-width: 250px;
}
p.priceItemContainer{
	float:right;
	margin-bottom:0px
}
div.MenuOrderInfo{
	margin-top:50px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
div.partnercontainer{
	padding-top: 20px;
	width: 100%;
}
div.reservationInfoBox{
	max-width: 500px;
}
div.partnerlogo{
	margin: auto;
    display: inline-block;
	width: 200px;
    height: 75px;
    margin: 0px;
}
td.partnerlogo{
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
div.registercheckbox{
	width: 100%;
	display: inline-block;

}
img.partnerlogo{
	max-height: 125px;
	min-height: 25px;
	max-width: 150px;
	min-width: 75px;
}
img.partnerlogoBig{
	max-height: 200px;
	max-width: 400px;
}
div.partnerlogoBig{
	margin-top: -20px;
	margin-bottom: -30px;
	display: inline-block;
}
div.footerCopyrightContainer{
	padding-top: 40px;
	padding-bottom: 20px;
}
div.footercopyright{
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align:text-top;
    display: inline-block;
	color: #76777B;
    width: 100%;
    height: 20px;
    margin: 1px;
}
p.footercopyright{
	margin-bottom: 0px;
}
footer.footer {
	color: #fafafa;
	vertical-align: bottom;
	width: 100%;
	text-align: center;
	height: auto;
	background: none;
	background-image: none;
	background-color: #d9d9d6;
	padding-top: 1px;
	border-top: solid 1px #d9d9d6;
	font-size: 8pt;
	font-weight: normal;
	min-height: 200px;
}
.resourceDetails {
    padding: 0px;
}
div.reservationResourceBox{
/*
Used in:
Web/reservation.php
*/
	display: inline-block;
	min-width: 250px;
    max-width: 500px;
    height: 30px;
    margin: 1px;
	background-image: none;
	background-color: none;
}
div.maxItOut{
	width: 100%;
}
div.resourceConfReservationShowcase{
	min-width: 200px;
	min-height: 200px;
	display: inline-block;
}
div.selectedResourceConf{
	vertical-align: top;
}
div.selectedResourceConfImage{
	text-align: right;
}

div.ResourceConfDashboardDefault{
	margin-top: 10px;
    margin-right: 20px;
	vertical-align: text-top;
	width: 100%;
	text-align: center;
	background-color: #F2F9DE;
	min-height: 300px;
	overflow:auto;
	overflow-y: auto;
}
a.furnilistTip{
	cursor: default;
	color: #000000;
}
input.billinginfo{
	width:400px;
}
textarea.billinginfo{
	width:400px;
}
input.foodSplit{
	width:50px;
	max-height:20px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:6px;
	padding-right: 0px;
}
a.btn-default {
    color: #000000;
}
.furnilistTip + .tooltip > .tooltip-inner { 
	text-align: left;
	margin-left: -30px;
	background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}
.furnilistTip + .tooltip > .tooltip-arrow { 
	border-bottom-color:#FFFFFF; 
	background-color: #FFFFFF;
	display:none;
}
div.furnilistTipInner{
	text-align: left;
	width: 100%;
	height: 100%;
	color: #000000;
	background-color: #FFFFFF;
}
div.furnilistTipInnerText{
	margin-left: -20px;
}
div.ResourceConfDashboardDefaultText
{
	min-height: 250px;
}
div.ResourceConfDashboardDefaultLeft{
	margin-top: 10px;
    margin-right: 20px;
	margin-left: 5px;
	vertical-align:text-top;
	text-align: left;
	float: left;
    display: inline-block;
}
*.nopaddingleft{
	padding-left: 0px;
}
p.ResourceConfDashboardDefaultText{
	float: left;
	margin-top: 40px;
}
div.ResourceConfDefaultDashText{
	margin-left: 30px;
}
div.ResourceConfDashboardDefaultRight{
	margin-top: 70px;
    margin-right: 20px;
	vertical-align:text-top;
	width: 60%;
	text-align: center;
    display: inline-block;
}
img.ResourceConfBig{    
	max-width: 100%;
    max-height: 300px;
    height: auto;
    width: auto;
	padding-bottom: 20px;
}
img.ResourceConfDashBig{    
	max-width: 100%;
    max-height: 500px;
    height: auto;
    width: auto;
	padding-bottom: 20px;
}
div.ResourceConfDashboardDefaultButton
{
	float: left;
	margin-left: 30%;
	margin-right: 70%;
	margin-bottom: 10px;
	margin-top: 10px;
    display: inline-block;
}

div.weekselectorButtonsLeft{
	display: inline-block;
}

div.weekselectorButtonsMid{
	display: inline-block;
	min-width: 220px;
}

div.weekselectorButtonsRight{
	display: inline-block;
}
div.charcount{
	color:gray;
}

div.ResourceConfInner{
	margin-top: 20px;
    margin-right: 20px;
	vertical-align:text-top;
	width: 300px;
	text-align: left;
    display: inline-block;
}
div.ResourceConfInfo{
	min-height: 120px;
	
}
div.ResourceConfFrontBottom{
	margin-top: 20px;
	text-align: center;
}

div.ResourceConfFrontpage{
	max-width: 1200px;
	margin-top: 20px;
    display: inline-block;
	box-sizing: border-box;
	width: 100%;
}

.dashboard {
	max-width: 1200px;
    display: inline-block;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
    padding: 0px;
    color: #000000;
    background-color: #FFFFFF;
}
.dashboardHeader {
    padding: 0px !important;
}
div.dashboardList{
	max-width: 1000px;
}
div.ResourceConfFrontpageInfo{
    display: inline-block;
	width: 100%;
	background-color: #D4EB91;
	text-align: left;
	padding-left: 20px;
}
div.ResourceConfFrontpageInfoNot{
    display: inline-block;
	width: 100%;
	text-align: left;
	padding-left: 20px;
}
p,h1.ResourceConfFrontpageInfo{
}
h1.ResourceConfFrontpageInfo{
    text-transform: uppercase;
}
h2.ResourceConfFrontpageInfo{
    text-transform: uppercase;
}
p.ResourceConfFrontpageInfo{
}
div.selectPublicTime{
	margin-bottom: 30px;
}
ul.Furniturelist{
	margin-left: -25px;
}
div.ScheduleInfo{
	text-align:center;
	width:100%;
}
div.ScheduleInfoInner{
	  width: 50%;
	  margin: 0 auto;
	text-align:center;
	max-width: 480px;
}
p.ScheduleInfo{
}
div.resourceContainerLeft{
/*
Used in:
Web/reservation.php
*/
    display: inline-block;
	/*max-width: 200px;*/
}
div.resourceContainerRight{
/*
Used in:
Web/reservation.php
*/
    display: inline-block;
	max-width: 250px;
}

select.resourceContainerRight{
/*
Used in:
Web/reservation.php
*/
    height: 30px;
	min-width: 169px;
	max-width: 200px;
}

div.reservationPublicDatesBox{
	width:100%;
    display: inline-block;
}
div.reservationPublicDatesBoxInner{
	width:100%;
    display: inline-block;
	margin-bottom: 10px;
	margin-top:10px;
}
div.reservationDatesBox{
    display: inline-block;
}

div.reservationDatesBoxLeft{
    display: inline-block;
    width: 100px;
    height: 30px;
}

div.reservationDatesBoxMid{
    display: inline-block;
    width: 100px;
    height: 30px;
}

div.reservationDatesBoxRight{
    display: inline-block;
    width: 100px;
    height: 30px;
}

.dateform-control {
	width: 85px;
	font-size:12px;color: #555;
	background-color: #fff;
	background-image: none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

div.resourceConfBoxAdd{
/*
Used in:
	manage_resource_confs.php
*/
	
	vertical-align:text-top;
    display: inline-block;
}

div.resourceConfBoxAddLeft{
/*
Used in:
	manage_resource_confs.php

*/
	
	vertical-align:text-top;
    display: inline-block;
	height: 1000px;
}
img.resourceConfBoxAdd{
/*
Used in:

*/
	width: 50%;
	height: 50%;
}

div.resourceConfLeftBoxAdd{
/*
Used in:

*/
	vertical-align:text-top;
    display: inline-block;
	width: 50px;
}

div.resourceConfRightBoxAdd{
/*
Used in:

*/
	vertical-align:text-top;
    display: inline-block;
	width: 150px;
}
select.resourceConfRightBoxAdd{

	width: 200px;
}
.resourceConfRightBoxAdd textarea{
	width: 126px;
}
div.resourceConfBoxUpdate{
    display: inline-block;
}
textarea.resourceConfBoxUpdate{
/*
Used in:
Web/admin/manage_resource_confs.php
*/
width: 150px;

	
}
div.ResourceConfSelection{
    display: inline-block;
}

input[type="checkbox"].ResourceConfCheckBox{
}

input[type="radio"].ResourceConfCheckBox{
}

div.ResourceConfSmallImage{
    display: inline-block;
	max-height:280px;
}
img.ResourceConfSmol{
	max-width: 100%;
	max-height: 270px;
}

#reservation-box .resourceName {
	padding: 0px;
	color: #333;
	background-color: transparent;
}
input[type=checkbox].resourceContainerLeft{
  transform: scale(1.5);
}

div.resourceConfLinkList{
    display: inline-block;
}
div.resourceConfLinkListConf{
	width: 100%;
    display: inline-block;
	vertical-align: top
}
span.resourceConfLinkListConf{
	vertical-align: top;
	width: 100%;
	overflow: auto;
	height: 10px;
	white-space:nowrap;
}
hr.pricetag{    
	margin-top: 5px;
	border-top: 4px solid #eee;
}

#reservation-box label {
    min-width: 100px;
}
html, body, div, span, applet, object, iframe, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: GTWalsheim;
}
b, h1, h2{
	font-family: GTWalsheimBold;
}