@font-face {
    font-family: GTWalsheim;
    src: url(fonts/GT-Walsheim-Regular.woff);
}
@font-face {
    font-family: GTWalsheimBold;
    src: url(fonts/GT-Walsheim-Bold.woff);
}

div.infoFrontpage{
	padding-top: 70px;
	padding-bottom: 70px;
	background-image: url("images/myyrmäki_MG_1791.png");
	background-size:cover;
}

div.frontInfo{
    float: right;
	background-color: rgba(245, 245, 245, 0.9);
}
h1.frontInfo{
	color: black;
}
nav.navbar-default, .navbar-fixed-top{
	background-color: #6BC24A;
	border: 0px solid transparent;
}
#main{
	min-height: 80%;
}
body.infoFrontpage{
	padding-top: 0px;
}
.footer {
  text-align: center;
  border-top: solid 1px #d9d9d6;
  padding-top: 2px;
  color: #fff;
  border-radius: 0;
}
.footer a {
    color: #76777B;
}
footer.footer {
	color: #fafafa;
	vertical-align: bottom;
	width: 100%;
	text-align: center;
	height: 200px;
	background: none;
	background-image: none;
	background-color: #d9d9d6;
	padding-top: 1px;
	border-top: solid 1px #d9d9d6;
	font-size: 8pt;
	font-weight: normal;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

div.partnerlogo{
    margin-left: 120px;
    margin-right: 120px;
    display: inline-block;
	width: 100%;
	max-width: 100px;
    height: 100px;
    margin: 0px;
}
img.partnerlogo{
	width: 100%;
}
div.footercopyright{
    display: inline-block;
	color: #76777B;
    width: 150px;
    height: 75px;
    margin: 1px;
}
div.reservationResourceBox{/*
Used in:
Web/reservation.php
*/
    display: inline-block;
    width: 500px;
    height: 30px;
    margin: 1px;
	background-image: none;
	background-color: none;
}

div.ResourceConfInner{
	margin-top: 20px;
    margin-right: 20px;
	vertical-align:text-top;
	width: 300px;
    display: inline-block;
}
div.ResourceConfInfo{
	min-height: 175px;
	
}
div.ResourceConfFrontBottom{
	margin-top: 20px;
	text-align: center;
}

div.ResourceConfFrontpage{
	margin-top: 20px;
    display: inline-block;
	box-sizing: border-box;
}
div.ResourceConfFrontpageInfo{
    display: inline-block;
	width: 100%;
	background-color: #D4EB91;
}
p,h1.ResourceConfFrontpageInfo{
	margin-left: 20px;
}
h1.ResourceConfFrontpageInfo{
    text-transform: uppercase;
}

div.resourceContainerLeft{
/*
Used in:
Web/reservation.php
*/
    display: inline-block;
	width: 200px;
}
div.resourceContainerRight{
/*
Used in:
Web/reservation.php
*/
    display: inline-block;
	width: 250px;
}

select.resourceContainerRight{
/*
Used in:
Web/reservation.php
*/
	width: 200px;
}

div.reservationDatesBox{
    display: inline-block;
}

div.reservationDatesBoxLeft{
    display: inline-block;
    width: 100px;
    height: 30px;
}

div.reservationDatesBoxMid{
    display: inline-block;
    width: 100px;
    height: 30px;
}

div.reservationDatesBoxRight{
    display: inline-block;
    width: 100px;
    height: 30px;
}

.dateform-control {
	width: 85px;
	font-size:12px;color: #555;
	background-color: #fff;
	background-image: none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

div.resourceConfBoxAdd{
/*
Used in:

*/
	
	vertical-align:text-top;
    display: inline-block;
}

img.resourceConfBoxAdd{
/*
Used in:

*/
	width: 50%;
	height: 50%;
}

div.resourceConfLeftBoxAdd{
/*
Used in:

*/
	vertical-align:text-top;
    display: inline-block;
	width: 50px;
}

div.resourceConfRightBoxAdd{
/*
Used in:

*/
	vertical-align:text-top;
    display: inline-block;
	width: 150px;
}
select.resourceConfRightBoxAdd{

	width: 200px;
}
.resourceConfRightBoxAdd textarea{
	width: 126px;
}
div.resourceConfBoxUpdate{
    display: inline-block;
}
textarea.resourceConfBoxUpdate{
/*
Used in:
Web/admin/manage_resource_confs.php
*/
width: 150px;

	
}
div.ResourceConfSelection{
    display: inline-block;
}

input[type="checkbox"].ResourceConfCheckBox{
}

input[type="radio"].ResourceConfCheckBox{
}

div.ResourceConfSmallImage{
    display: inline-block;
}
img.ResourceConfSmol{
	width: 150px;
	height: 100px;
}

#reservation-box .resourceName {
	color: black;
	background-color: transparent;
}
input[type=checkbox].resourceContainerLeft{
  transform: scale(1.5);
}

div.resourceConfLinkList{
    display: inline-block;
}
div.resourceConfLinkListConf{
	width: 100%;
    display: inline-block;
	vertical-align: top
}
span.resourceConfLinkListConf{
	vertical-align: top;
	width: 100%;
	overflow: auto;
	height: 10px;
	white-space:nowrap;
}


#reservation-box label {
    min-width: 100px;
}
html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: GTWalsheim;
}
b, h1{
	font-family: GTWalsheimBold;
}